@using Controle_de_Medicamentos.ConsoleApp.Model
@model CreatePrescriptionViewModel
@{

	ViewBag.Titulo = "Cadastro de Prescrição Médica";
	ViewBag.Header = "Cadastrando Prescrição Médica";
}

<link href="~/simple-modules.css" rel="stylesheet" />
<link href="~/Form.css" rel="stylesheet" />

<main class="main-module">
	<form action="/prescricao/cadastrar" method="post">
		<h2 style="margin-top: 0px;">Informações Básicas</h2>

		<label for="crmMedico">CRM do Médico:</label>
		<input type="text" name="CRMMedic" value="@Model.CRMMedic" />
		
		<label for="PatientId">Paciente Requisitante:</label>
		<select name="PatientId" id="PatientId">
			@foreach (var p in Model.Patients)
			{
				<option value="@p.Id"> @p.Name</option>
			}
		</select>

		<h3>Medicamentos</h3>

		<select name="MedicationID" id="medications">
			@foreach (var m in Model.selectMedications)
			{
				<option value="@m.Id">@m.Name</option>
			}
		</select>

		<div class="medication-field">
			<div>
				<label for="Dosage">Dosagem:</label>
				<input type="text" name="Dosage" id="Dosage" />
			</div>
			<div>
				<label for="Period">Período de Uso:</label>
				<input type="text" name="Period" id="Period" />
			</div>
			<div>
				<label for="Quantity">Quantidade (caixas):</label>
				<input type="number" name="Quantity" id="Quantity" />
			</div>
		</div>

		<button id="btn-add-medication" name="submit" value="adicionarMedicamento">Adicionar Medicamento</button>

		<h3>Medicamentos Selecionados</h3>

		@if (!Model.medications.Any())
		{
			<p class="fw-semibold">Ainda não há nenhum medicamento relacionado à prescrição...</p>
		}
		else
		{
			<table>
				<thead>
					<tr>
						<th>Medicamento</th>
						<th>Dosagem</th>
						<th>Período</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var medicamento in Model.medications)
					{
						<tr>
							<td>@medicamento.Medicatio</td>
							<td>@medicamento.Dosage</td>
							<td>@medicamento.Period</td>
							<td>@medicamento.Quantity</td>
						</tr>
					}
				</tbody>
			</table>
		}

		<div class="interaction-buttons">
			<a type="button" id="btnback" href="/prescricao/visualizar">Voltar</a>
			<button id="btn-clear" name="submit" value="limpar">Limpar</button>
			<button id="btnConfirm" name="submit" value="confirmar">Confirmar</button>
		</div>
	</form>
</main>
